<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Enter file name to Download</h1>

    {% for file in files %}
    <article class="post">
        <div>
          <p>{{ file }}</p>
        </div>
    </article>
        {% if not loop.last %}
          <hr>
        {% endif %}
    {% endfor %}
    <form method="post">
        <input type="text" name="filename" id="filename">
        <input type="submit" value="Download">
    </form>
</body>
</html>